# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://johndoe:randompassword@localhost:5432/mydb?schema=public"
NODE_ENV=development
REDIS_HOST=
REDIS_PORT=
REDIS_USER=
REDIS_PASSWORD=
ADMIN_PANEL_PASSWORD=
LOG_LEVEL=silly
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin
LOGTAIL_SOURCE_TOKEN=