# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://DB_USER_NAME:DB_USER_PASSWORD@localhost:DB_PORT/DATABASE_NAME"
NODE_ENV=development
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_USER=
REDIS_PASSWORD=
LOG_LEVEL=info
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin
LOGTAIL_SOURCE_TOKEN=